.features {
  padding: 64px 20px;

  @include breakpoint($desktop-min) {
    padding: 64px 30px;
    font-size: 1.2em;
    min-height: 672px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 64px;
  padding: 48px;

  @include content_max-width;

  @include breakpoint($desktop-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.features__item img {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}