.footer {
  background: #0B0D17;
  padding: 30px;
}

.footer__content {
  @include content_max-width;
}

.footer__nav {
  display: flex;
  flex-direction: column;


  @include breakpoint($desktop-min) {
    display: inline-block;
    font-size: 1.2em;
    min-height: 280px;
    text-align: left;
    width: 40%;

  }
}

.footer__links {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
}

.footer__links-item {
  margin-right: 20px;
}

.footer__links-item a {
  color: #FFFFFF;
}

.footer__nav img {
  width: 32px;
  height: 32px;

}

.footer__text {
  color: #D9DBE1;
  margin-top: 50px;
}

.footer__share p{
  color: #D9DBE1;
}

.footer__share {
  @include breakpoint($desktop-min) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

.footer__share img {
  display: inline-block;
  margin: 6px;
}