.get-started {
  background-image: url("../images/Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background;
  margin: 0 auto;

  @include breakpoint($desktop-min) {
    min-height: 866px;
    padding: 0 30px;
    font-size: 2em;
  }
}

.get-started__content {
  @include content_max-width;
}

.get-started__img {
  display: inline-block;

  @include breakpoint ($desktop-min) {
    vertical-align: top;
  }

}

.get-started__text {
  @include breakpoint ($desktop-min) {
    display: inline-block;
    text-align: left;
    width: 40%;
  }
}

