.getStarted {
  display: block;
  position: relative;
  width: 100%;
  background-image: url("../images/Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background;

  @include breakpoint($desktop-min) {
    min-height: 866px;
    padding: 0 30px;
    font-size: 2em;
  }
}

.getStarted__img {
  display: inline-block;

  @include breakpoint ($desktop-min) {
    vertical-align: top;
  }

}

.getStarted__text {
  @include breakpoint ($desktop-min) {
    display: inline-block;
    text-align: left;
    width: 40%;
  }
}