.headline {
  padding: 64px 20px;

  @include breakpoint($desktop-min) {
    padding: 64px 30px;
    font-size: 1.2em;
    min-height: 668px;
  }
}

.headline__content {
  @include content_max-width;
}

.headline__button {
  display: flex;
  flex-direction: row;
  width: 143px;
  height: 30px;
  margin-bottom: 20px;

  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: $purple;
}

.headline__phone {
  display: block;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 540px;


  @include breakpoint($desktop-min) {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
}

.headline__text {
  @include breakpoint($desktop-min) {
    display: inline-block;
    text-align: left;
    width: 40%;
    padding-right: 50px;
  }
}

