.header {
  background: rgba(242, 247, 255, 0.7);
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;

  &:after {
    filter: blur(4px);
  }
}

.header__content {
  display: flex;
  @include content_max-width;
}

.header__download {
  display: none;

  @include breakpoint($desktop-min) {
    display: block;
    margin-left: auto;
  }
}

.header__download img {
  margin: 6px;
}

