.logo-clouds {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  @include content_max-width;
  padding: 24px;
}

.logo-clouds img {
  display: inline-block;
  margin: 10px;
}