.mobile {
  background: #2EC5CE;
  padding-top: 64px;

  @include breakpoint($desktop-min) {
    padding: 0 30px;
    font-size: 1.2em;
    min-height: 600px;
  }
}

.mobile__content {
  @include content_max-width;
  min-height: 600px;
}

.mobile__text {
  padding: 20px;

  @include breakpoint($desktop-min) {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin-left: auto;
    vertical-align: top;
    padding: 68px 10px 0 0;
  }
}

.mobile__text img {
  display: inline-block;
}

.mobile__img-top {
  display: none;

  @include breakpoint($desktop-min) {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
  }
}

.mobile__img-bottom{
  margin: 0 auto;

  @include breakpoint($desktop-min) {
    display: inline-block;
    width: 232px;
    padding-top: 200px;
  }
}

.mobile__img-bottom img {
  display: inline-block;
  vertical-align: bottom;
}


