.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 0;
}

.header__nav-item {
  position: relative;

  &:hover {

    .header__nav-link {
      background-color: $purple;
      color: #FFFFFF;
    }

    > .header__subNav {
      display: none;

      @include breakpoint($desktop-min) {
        display: block;
      }
    }
  }
}

.header__nav-link {
  display: block;
  padding: 10px;

  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #18191F;
  text-decoration: none;

  transition: background-color .2s linear;

  &.header__nav-link--has-subnav {
    display: none;

    @include breakpoint($desktop-min) {

      display: block;
      position: relative;

      .header__subNav-link {
        display: none;
      }

      &:after {
        content: "";
        display: block;
        margin-top: 2px;

        border-style: solid;
        border-width: 6px 3px 0 3px;
        border-color: #000000 transparent transparent transparent;

        position: absolute;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
      }
    }
  }
}