.stories {
  position: relative;
  background: #D5FAFC;
  padding: 120px 30px;

  @include breakpoint($desktop-min) {
    padding: 120px 30px;
    font-size: 1.2em;
    min-height: 896px;
  }
}

.stories__content {
  @include content_max-width;
}

.stories__quoteMark {
  position: absolute;
  width: 143px;
  height: 120px;
  left: 21%;
  top: 64px;

  opacity: 0.3;
  z-index: 0;
}

.stories__testimonials {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-items: center;
  justify-content: center;

  @include breakpoint($desktop-min) {
    display: inline-block;
    vertical-align: top;
  }
}

.stories__testimonials-item {
  display: block;
  max-width: 445px;
  margin: 30px 0;

  background: $background;

  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;

  padding: 32px;
  text-align: left;
}


.testimonials__name {
  font-weight: bold;
}

.testimonials__details {
  color: #969BAB;
  font-size: 0.8rem;
}

.stories__testimonials-logo img {
  width: 140px;
  height: 40px;

  margin-bottom: 32px;
}

.stories__testimonials-content p {
  display: inline-block;
  margin-top: 0;
  width: 340px;
}

.stories__testimonials-quoteMark {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}

.stories__testimonials-content img{
  display: inline-block;
  width: 16px;

  opacity: 0.3;
  z-index: 1;
}

.stories__testimonials-personalInfo {
  margin-left: 32px;
}

.stories__title {
  @include breakpoint($desktop-min) {
    display: inline-block;
    text-align: left;
    width: 45%;
  }
}

.stories__title .stories__testimonials-item {
  margin: 0 auto;
  @include breakpoint($desktop-min) {
    margin-right: 30px;
  }
}

