.trends {
  padding: 64px 20px;

  @include breakpoint($desktop-min) {
    padding: 64px 30px;
    font-size: 1.2em;
    min-height: 684px;
  }
}

.trends h2 {
  @include breakpoint($desktop-min) {
    display: inline-block;
    width: 40%;
    float: left;
    margin-left: 100px;
  }
}

.trends p {
  @include breakpoint($desktop-min) {
    display: inline-block;
    width: 40%;
  }
}

.trends img {
  @include breakpoint($desktop-min) {
    margin: 0 auto;
  }
}



