<footer class="footer">
    <div class="footer__content">
        <div class="footer__nav">
            <div class="footer__logo">
                <img src="assets/images/Logo_footer.svg" alt="logo_footer">
            </div>

            <ul class="footer__links">
                <li class="footer__links-item">
                    <a title="Download Now" href="#">Download Now</a>
                </li>
                <li class="footer__links-item">
                    <a title="License" href="#">License</a>
                </li>
            </ul>

            <ul class="footer__links">
                <li class="footer__links-item">
                    <a title="About" href="#">About</a>
                </li>
                <li class="footer__links-item">
                    <a title="Features" href="#">Features</a>
                </li>
                <li class="footer__links-item">
                    <a title="Pricing" href="#">Pricing</a>
                </li>
                <li class="footer__links-item">
                    <a title="Careers" href="#">Careers</a>
                </li>
                <li class="footer__links-item">
                    <a title="Help" href="#">Help</a>
                </li>
                <li class="footer__links-item">
                    <a title="Privacy Policy" href="#">Privacy Policy</a>
                </li>
            </ul>

            <div class="footer__text">
                <p>© 2020 Landify UI Kit. All rights reserved</p>
            </div>
        </div>

        <div class="footer__share">
            <p>Get the App</p>
            <div class="footer__download-buttons">
                <a title="Google Play" href="https://play.google.com/">
                    <img src="assets/images/GooglePlayBadge.svg"
                         alt="Google Play">
                </a>
                <a title="App Store" href="https://apps.apple.com/">
                    <img src="assets/images/AppStoreBadge.svg"
                         alt="App Store">
                </a>
            </div>
        </div>
    </div>
</footer>

