<footer class="footer">
    <div class="footer__nav">
        <img class="footer__nav-logo" src="assets/images/Logo_footer.svg" alt="logo_footer">
        <div class="footer__nav-links">

            <ul class="footer__nav-links1">
                <li class="footer__nav-links-item">
                    <a title="Download Now" href="#">Download Now</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="License" href="#">License</a>
                </li>
            </ul>

            <ul class="footer__nav-links1">
                <li class="footer__nav-links-item">
                    <a title="About" href="#">About</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="Features" href="#">Features</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="Pricing" href="#">Pricing</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="Careers" href="#">Careers</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="Help" href="#">Help</a>
                </li>
                <li class="footer__nav-links-item">
                    <a title="Privacy Policy" href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="footer__text">
            <p>© 2020 Landify UI Kit. All rights reserved</p>
        </div>
    </div>

    <div class="footer__share">
        <p class="footer__subtitle2">Get the App</p>
        <div class="footer__download-buttons">
            <a title="Google Play" href="https://play.google.com/">
                <button type="button"><img class="google_play_button" src="assets/images/GooglePlayBadge.svg" alt="Google Play"></button>
            </a>
            <a title="App Store" href="https://apps.apple.com/">
                <button type="button"><img class="app_store_button" src="assets/images/AppStoreBadge.svg" alt="App Store"></button>
            </a>
        </div>
    </div>
</footer>

