<header class="header">
    <div class="header__content">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a>
                    <picture class="header__nav-logo">
                        <source media="(max-width: 768px)" srcset="assets/images/Logo_footer.svg">
                        <img src="assets/images/logo.png" alt="logo.png">
                    </picture>
                </a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" href="#" class="header__nav-link">About</a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" href="#" class="header__nav-link">Products</a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" href="#" class="header__nav-link">Pricing</a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" href="#" class="header__nav-link">Blog</a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" href="#" class="header__nav-link">Jobs</a>
            </li>
            <li class="header__nav-item">
                <a title="header__nav-link" class="header__nav-link header__nav-link--has-subnav" href="#">More</a>
                <ul class="header__subNav">
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">Features</a>
                    </li>
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">License</a>
                    </li>
                    <li>
                        <a title="header__subNav-link" class="header__subNav-link" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="header__download">
            <ul class="header__nav-list header__download-buttons">
                <li>
                    <a title="Google Play" href="https://play.google.com/">
                        <img class="googlePlay" src="assets/images/GooglePlayBadge.svg"
                             alt="Google Play">
                    </a>
                </li>
                <li>
                    <a title="App Store" href="https://apps.apple.com/">
                        <img class="appStore" src="assets/images/AppStoreBadge.svg"
                             alt="App Store">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>